---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"projects">>;
}

const { page } = Astro.props;
---

<Layout title={`Projects (Page ${page.currentPage}) | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main
    pageTitle={`Projects`}
    pageDesc={`Showing ${page.start + 1}-${page.end + 1} of ${page.total} projects.`}
  >
    <ul class="flex flex-col gap-4">
      {
        page.data.map(({ data, slug }) => (
          <ProjectCard href={`/projects/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
